nav {
  padding: 10px initial;
  background: #383e47;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding: 10px;
  margin: auto 10px;
}

.app {
  background: #f6f7f9;
}

.main {
  min-height: 85vh;
  padding: 0 20px;
}

.syncTooltip {
  margin-left: 10px;
}
