.fugitiveContent {
  width: 90ch;
  background: #ffffff;
  min-height: 100vh;
  margin: auto;
  padding: 10px;
  position: relative;
}

.fugitiveHeading {
  display: flex;
  min-height: 300px;
  align-items: center;
  margin-bottom: 10px;
}

.headingContent {
  width: 60%;
}

.headingGallery {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  align-items: center;
}

.fugitiveTagWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.reward,
.warning {
  margin-bottom: 5px;
}

.fugitiveSection {
  margin-bottom: 10px;
}

.fugitiveSection > * p {
  margin: 0;
}

.backLink {
  position: absolute;
  left: -75px;
}

.listSpan {
  margin-right: 5px;
}

.title {
  text-align: center;
}
