.fugitiveSearch {
  width: 50%;
  margin: auto;
  display: flex;
}

.fugitiveGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 5px;
  padding: 10px 0;
}

.fugitiveCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.fugitiveImg {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.fugitiveTagWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2px 0;
}

.nonIdealWrapper {
  margin: 20px auto;
}

.descList {
  margin: 10px 0;
}

.fugitiveLink {
  color: #fff;
  margin-top: auto;
}

.fugitiveTooltip {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.resultCount {
  /* height: 100%; */
  /* display: flex; */
  width: 50%;
  margin: auto;
}
